doctype html
html
  head
    title GPeeS - Sign-up
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='sign-up page.css')
    script(defer='' src='../project-partB/GPeeS/views/js.js')
  body
    #container3
      #itemm1
        header G-Pee-S
      #itemm2
        form(action="/insertCustomer", method="post") 
          p#demo
          h1 Sign-up
          br
          h2 Please fill in the personal details
          label(for='firstName') First Name
          input#firstName(type='text', name='FirstName')
          br
          br
          label(for='lastName') Last Name
          input#lastName(type='text', name='LastName')
          br
          br
          label(for='userEmail') Email address
          input#userEmail(type='email', name='userEmail1', placeholder='abc@def.com', requiered)
          br
          br
          label(for='pwd') Password
          input#pwd(type='password', name='pwd1', placeholder='Password', required, minlength='6')
          br
          br
          label(for='confirmPwd') Confirm Password
          input#confirmPwd(type='password', name='confirmPwd2', placeholder=' Confirm Password', required, minlength='6')
          br
          br
          input#register(type='submit', value='Register')
          br
          a(href='../project-partB/GPeeS.html') back to lg-in page
      #itemm3
        h2 Menu
        nav
          ul
            li
              a(href='http://localhost:3000/') log-in
            li
              a(href='http://localhost:3000/GPeeS-SettingPage') Setting page
            li
              a(href='http://localhost:3000/selectCity') Resoults
      #itemm4
      #itemm5
        footer Nitzan Lavon 2022