doctype html 
html 
    head 
    body 
    #container4
      #itemm11
        header G-Pee-S
            nav 
            #itemm33
        h2 Menu
        nav
          ul
            li
              a(href='http://localhost:3000/') log-in
            li
              a(href='http://localhost:3000/GPeeS-SettingPage') Setting page
            li
              a(href='../project-partB/GPeeS - Results.html') Resoults
      #itemm44
      #itemm55
        block content 
        br
        footer 
            p Nitzan Lavon&copy; 2022
            