:root{
    --myGreen:#93C178;
    --myYellow:#F7EF6A;
    --myBlue:#465C8B;
    --myWhite:#DFDCE3;
    --myBrown:#9b2929;
}

@import url(https://fonts.googleapis.com/css?family=Ubuntu);

@font-face {
    font-family:bungeeSpice;
    src: url(../project-partB/BungeeSpice-Regular.ttf);
}

@font-face {
    font-family:Quicksand ;
    src: url(../project-partB/Quicksand-VariableFont_wght.ttf);
}

*{
    text-align: center;
    margin: 1px;
}

header{
    padding: 5px;
    font-size: 150px; 
    font-family: bungeeSpice;
    position: relative;
    top: 0%;
}


body{
    background-color: var(--myYellow);
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
}

li a{
    display: block;
    color:black;
    width: 150px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #9b2929;
    font-size: 20px;
}

li a:hover{
    background-color: #7a0d0d;
    color: white;
}

form{
    position: relative;
    top: 5%;
    font-family: Quicksand;
}

form h2{
    font-size:30px;
}
#button{
    background-color: var(--myBrown);
    padding: 12px;
    font-size: 20px;
}

#container2{
    display:grid;
    grid-template-areas: 
    'item11 item11 item11 item11 item11'
    'item33 item22 item22 item22 item44'
    'item55 item55 item55 item55 item55';  
}

#item11{
    grid-area: item11;
    background-color:rgb(249, 196, 98);
    height: 25vh;
    border: 2px solid var(--myBrown);
}

#item22{
    grid-area: item22;
    background-color: var(--myYellow);
    height: 70vh;
    align-content: center;
}
#item22 h1{
    font-size: 60px;
}

#item33{
    grid-area: item33;
    background-color:var(--myGreen);
    height: 70vh; 
    font-family: Quicksand;
}

#item33 h2{
    font-size: 35px;
    position: relative;
    top: 5%;
}

#item33 nav{
    position: relative;
    top:10%;
    left: 19%; 
}

#item44{
    grid-area: item44;
    background-color: #93C178;
    height: 70vh;
    background-image: url(https://cdn4.iconfinder.com/data/icons/person-actions/227/person-action-006-512.png);
    background-position: center;
    animation-name: imagebackground;
    animation-duration: 2s;
    animation-iteration-count:10;  
}

#item55{
    grid-area: item55;
    background-color:rgb(249, 196, 98);
    height: 3vh;
    position: relative;
    bottom: 0;
    border: 2px solid var(--myBrown);
}

@media screen and (max-width:600px) {
    #container2 {
        display: grid;
        grid-template-areas: 
        'item11'
        'item33' 
        'item22'
        'item44'
        'item55';
    }    
}

@keyframes imagebackground{
    0%{background-color: khaki;}
    70%{background-color: var(--myBrown)}
}
